
     <a class="person" id="1">
       click me
     </a>

     <div id="module" style="opacity: {{module}}">
       person info
       here
       hello
       hello
       hello
       hello
       hello
     </div>
