
     <a class="person" id="1">
       click me
     </a>

     <div id="module" style="opacity: {{opacity}}">
       <div class="personcontent">
kjhbwJHRVEKBFHBRKVQEUARHBVKHC im a person fill me with people template
       </div>
     </div>
