<div class="container">
  {{#each rows}}
    <div class="row">
      {{#each this}}
        <a href='/mural?id={{id}}' class='person' style='background-image: url({{image}})'>
        <div class = 'name'> {{name}} </div>
        </a>
      {{/each}}
    </div>
  {{/each}}
</div>
