<div class="container">
  {{#each rows}}
    <div class="row">
      {{#each this}}
        <a href='/mural?id={{id}}' style='background-image: url({{image}})'>
          {{name}}
        </a>
      {{/each}}
    </div>
  {{/each}}
</div>
