body {
  background-color: pink;
  display: flex;
  justify-content: center;
  font-family: 'Titillium Web', sans-serif;
}

#module {
  position: absolute;
  text-align: center;
  top: 5%;
  left: 15%;
  width: 70%;
  height: 90%;
  background-color: #fe3d42;
  box-shadow: 0px 0px 20px #fff;
  border-radius: 8px;
}

.personcontent {
  margin: 5%;
}
